html
  head
    link(rel='stylesheet', href='/bulma.css')
    title Curso MEVN
  body
    nav.navbar
      .navbar-brand
        a.navbar-item(href='#')
          img(src='https://bulma.io/images/bulma-logo.png', alt='Bulma: a modern CSS framework based on Flexbox', width='112', height='28')
        .navbar-burger.burger(data-target='navbar')
          span
          span
          span
      .navbar-menu
        .navbar-start
          a.navbar-item(onclick='getAll()') Posts
        .navbar-end
          .navbar-item
            .field.is-grouped
              p.control
                a.button.is-primary(onclick='newPost()') Nuevo Post
    section.hero
      .hero-body
        .container.has-text-centered
          h1.title.is-1 Blog
          h2.subtitle Posts
    main.section
      .container
        #new-post.modal
          .modal-background
            .modal-card
              .modal-card-body
                .field.has-text-centered
                  h1.title New Post
                .field
                  label.label Título
                  .control
                    input#titulo.input(type='text')
                .field
                  label.label Contenido
                  .control
                    textarea#contenido.textarea
                .field
                  .control
                    button.button.is-link.is-pulled-right(onclick='sendPost()') Send
                    button.button.is-danger.is-pulled-right(onclick='newPost()') Cancelar
        #posts.columns.is-multiline

script.
  var modal = document.querySelector('#new-post');
  var divPosts = document.querySelector('#posts');
  var showingPosts = true;
  var post = [];
  var indiceActual = -1;

  // enviar un blog
  var txtTitulo = document.querySelector('#titulo');
  var txtContenido = document.querySelector('#contenido');

  function newPost () {
    if (showingPosts) {
      modal.classList.add('is-active');
    } else {
      modal.classList.remove('is-active');
    }
    showingPosts = !showingPosts;
  }

  function editPost (el) {
    console.log(el.getAttribute('id'));
    var id = el.getAttribute('id').split('-')[1];
    indiceActual = posts.findIndex(function (p) {
      return p._id === id;
    });
    
    txtTitulo.value = posts[indiceActual].titulo;
    txtContenido.value = posts[indiceActual].contenido;
    modal.classList.add('is-active');
    showingPosts = false;
  }

  function deletePost (el) {
    var id = el.getAttribute('id').split('-')[1];
    indiceActual = posts.findIndex(function (p) {
      return p._id === id;
    });

    posts.splice(indiceActual, 1);

    var divPost = document.querySelector('#post-' + id);
    divPost.parentNode.removeChild(divPost);

    fetch('/api/blog/' + id, {
          method: 'delete',
          headers: {
            'Content-Type': 'application/json'
          }
        })
  }

  function sendPost () {
    if (txtTitulo.value != '' && txtContenido.value != '') {
      var data = {
        titulo: txtTitulo.value,
        contenido: txtContenido.value,
        fechaCreacion: new Date()
      };

      if (indiceActual === -1) {
        fetch('/api/blog', {
          method: 'post',
          body: JSON.stringify(data),
          headers: {
            'Content-Type': 'application/json'
          }
        }).then(function (res) {
          return res.json();
        }).then(function (data) {
          posts.push(data);
          divPosts.innerHTML = postTemplate(data) + divPosts.innerHTML;
          newPost();
        }).catch(function (err) {
          console.error(err);
          alert('Error de conexion');
        });
      } else {
        fetch('/api/blog/' + posts[indiceActual]._id, {
          method: 'put',
          body: JSON.stringify(data),
          headers: {
            'Content-Type': 'application/json'
          }
        }).then(function (res) {
          return res.json();
        }).then(function (data) {
          posts[indiceActual] = data;
          var divPost = document.querySelector('#post-' + data._id);
          divPost.innerHTML = postTemplate(data);
          divPost.replaceWith(divPost.firstChild);
          indiceActual = -1;
          newPost();
        }).catch(function (err) {
          console.error(err);
          alert('Error de conexion');
        });
      }
      txtTitulo.value = '';
      txtContenido.value = '';
    }
  }

  function getAll () {
    fetch('/api/blog/', {
      method: 'get',
      headers:{
        'Content-Type': 'application/json'
      }
    }).then(function (res) {
      return res.json();
    }).then(function (data) {
      while (divPosts.firstChild)
        divPosts.removeChild(divPosts.firstChild);
      posts = data;
      data.forEach(function (post) {
        divPosts.innerHTML += postTemplate (post);
      });
    }).catch(function (err) {
      console.error(err);
      alert('Error de conexion');
    });
  }

  function postTemplate (post) {
    return '<div id="post-' + post._id + '" class="column is-4-desktop is-6-tablet is-12-mobile">' +
      '<div class="card">' +
        '<div class="card-content">' +
          '<p class="title">' + post.titulo + '</p>' +
          '<p class="subtitle">' + new Date(post.fechaCreacion).toDateString() + '</p>' +
        '</div>' +
        '<footer class="card-footer">' +
          '<p class="card-footer-item">' +
            '<a id="edit-' + post._id + '" class="card-footer-item" onclick="editPost(this)">Edit</a>' +
            '<a id="delete-' + post._id + '" class="card-footer-item" onclick="deletePost(this)">Delete</a>' +
          '</p>' +
        '</footer>'+
      '</div>' +
    '</div>'
  }

  getAll();