html
  head
    title Login
    link(rel='stylesheet', href='/bulma.css')
    meta(charset="utf-8")
  body
    .column.is-4.is-offset-4
      h1 Login
      .field
        label.label Correo
        .control
          input#txtCorreo.input(type='text')
      .field
        label.label Contraseña
        .control
          input#txtPassword.input(type='password')
      .field
        .control
          input#btnIngresar.button.is-success(type='button' value="Ingresar")
      a(href="registro") ¿No tienes cuenta?, Regístrate
    script.
      var btnIngresar = document.getElementById("btnIngresar");
      var txtPassword = document.getElementById("txtPassword");
      var txtCorreo = document.getElementById("txtCorreo");
              
      btnIngresar.addEventListener('click', function(ev) {
        var datos = {
          correo: txtCorreo.value,
          password: txtPassword.value
        }

        fetch('/sesion/entrar',
          {
            method: 'post',
            body: JSON.stringify(datos),
            headers: {
              'Content-Type': 'application/json'
            }
          }).then(function(result) {
            console.log(result);
            if(result.status === 200)
              window.location = 'home';

            //- return result.json(); //Convertir lo que devuelve a JSON
          })
          .then(function(data) {
            //Aquí deberíamos redireccionarlo a la página de inicio si sí se pudo logguear
            //- console.log(data);
          });
      });